$cream: rgb(255,251,229);
$cream-transparent2: rgba(255,251,229, 0.2); 
$cream-transparent4: rgba(255,251,229, 0.4);
$cream-transparent6: rgba(255,251,229, 0.6);
$cream-transparent8: rgba(255,251,229, 0.8);
$d-blue: rgb(45,63,75);
$d-blue-transparent2: rgba(45,63,75, 0.2);
$d-blue-transparent4: rgba(45,63,75, 0.4);
$d-blue-transparent6: rgba(45,63,75, 0.6);
$d-blue-transparent8: rgba(45,63,75, 0.8);
$salmon: rgb(255,127,102);
$salmon-transparent2: rgba(255,127,102, 0.2);
$salmon-transparent4: rgba(255,127,102, 0.4);
$salmon-transparent6: rgba(255,127,102, 0.6);
$salmon-transparent8: rgba(255,127,102, 0.8);
$cyan: rgb(108,216,162);
$cyan-transparent2: rgba(108,216,162, 0.2);
$cyan-transparent4: rgba(108,216,162, 0.4);
$cyan-transparent6: rgba(108,216,162, 0.6);
$cyan-transparent8: rgba(108,216,162, 0.8);
$yellow: rgb(255,205,102);
$yellow-transparent2: rgba(255,205,102, 0.2); 
$yellow-transparent4: rgba(255,205,102, 0.4);
$yellow-transparent6: rgba(255,205,102, 0.6);
$yellow-transparent8: rgba(255,205,102, 0.8);

