footer{
  margin-top: 0;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  font-size: 1.8em;
  background: url(https://cdn.pixabay.com/photo/2017/05/13/17/41/textile-2310247_960_720.png), $d-blue;
  background-size: cover;
  justify-content: center;
  align-items: center;

  .footer__section-nav-extra{
    border-top: 1px solid rgb(45,63,75);
    margin-top: 20rem auto 0 auto;
    padding-top: 3rem;
    width: 85%;
    display:flex;
    justify-content: space-around;

    div{
      width: auto;

      h3{
        font-size: 1.3em;
        margin-bottom: 2rem;
      }
    }
  }
  .footer__section-network{
    border-top: 1px solid rgba(255, 251, 229, 0.6);
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 60%;
    margin: 10rem auto 5rem auto;
    padding-top:4rem;
  }

  .footer__section-copyright{
    border-top: 1px solid rgba(255, 251, 229, 0.6);
    text-align: center;
    margin: auto;
    color: rgb(255, 251, 229);
    width: 60%;
    padding: 4rem;
  }
}
