footer{
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  height: 60vh;
  width: 100%;
  font-size: 2rem;
  background: linear-gradient(50deg,#2D3F4B,#C7C7A6 );
  background-size: cover;
  .footer__section-nav-extra{
    display:flex;
    justify-content: space-around;
    div{
      margin: 2%;
      h3{
        margin-bottom: 2vh;
      }
    }
  }
  .footer__section-network{
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 50vw;
    margin: auto;
  }

  .footer__section-copyright{
    text-align: center;
    padding:1rem;
    img {
      width: 80vw;
      text-align:center;
      height: 0.1em;
    }
  }
}
