.header-container {
    height: 100vh;
    width: 100%;
    font-size: 2rem;
    background-image: url("../img/more-resilient.jpg");
    background-size: cover;
    background-position: center center;
  
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
      position: relative;
      top: 30%;
      width: 50%;
      padding: 1rem;
      margin-left: 4rem;
      color: rgb(255,251,229);
  
      img {
        width: 10rem;
        height: 0.2rem;
      }
    }
  
    p {
      position: relative;
      top: 35%;
      max-width: 50rem;
      width: 50%;
      padding: 1rem;
      margin-left: 4rem;
      font-size: 1.7rem;
      line-height: 1.7;
      color: rgb(255,251,229);
    }
  
    a {
      position: relative;
      top: 40vh;
    }
  
    button {
      width: 40%;
      max-width: 50rem;
      margin: 1rem 1rem 1rem 5rem;
      height: 5.4rem;
      color: black;
      background-color: rgba(255,180,26, 0.8);
      text-decoration: none;
      border: none;
      &:hover {
        background-color: #2d2d2d;
        border: solid .1rem #1d1d1d;
      }
    }
  }
  
  .header-pages-themes-container {
    @extend .header-container;
    display:flex;
    justify-content: flex-end;
    div{
      background-color: rgba(0,0,0,.5);

      h1{
        color: black;
        }
    p{
  
      color: black;
      width : 80%;
    }
    }
    
  }
  
  .header-health-container{
  @extend .header-pages-themes-container;
  background-image:url("../img/article5.jpg");
  }
  
  .header-food-container{
    @extend .header-pages-themes-container;
    background-image: url("../img/food.jpg");
  
  }
  
  .header-energy-container{
    @extend .header-pages-themes-container;
    background-image: url("../img/energie.jpg");
  }
  
  .header-garden-container{
    @extend .header-pages-themes-container;
    background-image: url("../img/jardinage.jpg");
  }  


