///////////////////////////////////
// css for header of index.html //
//////////////////////////////////
.header-container {
  height: 100vh;
  width: 100%;
  font-size: 2rem;
  background-image: url("../img/resilient.jpg");
  background-size: cover;
  background-position: center center;

  h2 {
    font-size: 4rem;
    line-height: 1.2;
    position: relative;
    top: 30%;
    width: 50%;
    padding: 1rem;
    margin-left: 4rem;
    color: rgb(255,251,229);

    img {
      width: 10rem;
      height: 0.2rem;
    }
  }

  p {
    position: relative;
    top: 30%;
    max-width: 50rem;
    width: 50%;
    padding: 1rem;
    margin-left: 4rem;
    font-size: 1.7rem;
    line-height: 1.7;
    color: rgb(255,251,229);
  }

  a {
    position: relative;
    top: 35%;
  }

  button {
    width: 25%;
    max-width: 50rem;
    margin: 1rem 1rem 1rem 5rem;
    height: 4.5rem;
    color: black;
    background-color: rgba(255,180,26, 0.8);
    text-decoration: none;
    border: none;
    &:hover {
      background-color: transparent;
      color: rgba(255,180,26, 0.8);
      font-weight: bold;
      border: 1px solid rgba(255,180,26, 0.8);
    }
  }
}

////////////////////////////////////  
// css for header of pages-themes //
////////////////////////////////////

.header-pages-themes-container {
  @extend .header-container;
  display:flex;
  justify-content: flex-end;
  div{
    background-color: rgba(0,0,0,.5);

    h2 {
      color: $d-blue;
    }

    p {
      color: black;
      width : 80%;
    }
  }

}
////////////////////////////////////
// css for header of health pages //
////////////////////////////////////
.header-health-container{
  @extend .header-pages-themes-container;
  background-image:url("../img/heath4.jpg");
  background-position: center 0;
  div{
    background-color: rgba(255, 127, 102, 0.5);

  }
}
////////////////////////////////////
// css for header of foog pages //
////////////////////////////////////
.header-food-container{
  @extend .header-pages-themes-container;
  background-image: url("../img/food.jpg");
  div{
    background-color: rgba(255,205,102, 0.5);

  }
}
////////////////////////////////////
// css for header of energy pages //
////////////////////////////////////
.header-energy-container{
  @extend .header-pages-themes-container;
  background-image: url("../img/energie.jpg");
  div{
    background-color: rgba(102,152,255, 0.5);

  }
}
////////////////////////////////////
// css for header of garden pages //
////////////////////////////////////
.header-garden-container{
  @extend .header-pages-themes-container;
  background-image: url("../img/jardinage.jpg");
  div{
    background-color: rgba(108, 216, 162, 0.5);

  }

}  


