.main-content-pages-themes{
    display : flex;
    justify-content: space-around;
    padding-top:2rem;
    .container-article-pages{
       // background-color: rgb(255,251,229);
        display: flex;
        flex-direction: column;
      //  align-items: center;
     //   justify-content: center;
        height: auto;
        padding: 1rem 0 10rem 0;

        h2 {
          text-align:center;
          margin: 2rem;
          font-size: 4rem;
        }
      
        .container-article__description {
          text-align: center;
          margin: 0 15rem 5rem 15rem;
          font-size: 1.9rem;
          line-height: 1.7;
          
        }
      
        article {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          height: 60%;
          .article {
            background-color: rgba(0, 0, 0, 0.1);
            margin: 0 2rem 0 2rem;
            width: 37rem;
      
            .article-date-share {
              display: flex;
      
              .article-date {
                padding: 1rem;
                font-size: 1.5rem;
              }
            }
      
            a {
              text-decoration: none;
            }
      
            .article__title {
              font-size: 2.4rem;
              margin: 2rem;
              line-height: 1.2;
            }
      
            .article__paragraphe {
              font-size: 1.5rem;
              line-height: 1.7;
              margin: 2rem;
              height: 50%;
            }
      
            .article__img {
              width: 100%;
              height: 50%;
            }
          }
      
        }
      }
      
   /* .section-article{
        margin-bottom:2rem;
        article{
            background-color: rgba(0, 0, 0, 0.1);
            margin-bottom:2rem;
           // text-align:center;
           width : 37rem;

         h2{
            font-size: 3rem;
            padding-bottom:2rem;

        }
        p{
            padding-bottom:2rem;

            font-size: 2rem;
        }

        img{
            padding-bottom:2rem;

            width: 100%;
        }   
        button{
            width: 30%;
            font-size:1.5rem;
            border:none;
            text-decoration: none;
        }
        }
        
    }*/
    .section-input{

      background-color: rgba(0, 0, 0, 0.1);
      width: 50%;
      height: 100vh;
        article{
           display: flex;
        justify-content: center;
            font-size: 2rem;
            input[type=search] {
              width: 90%;
             
              padding: 12px 20px;
              margin: 20px 0;
              box-sizing: border-box;
            }
        .tags{
            font-size: 1.5rem;
        }
        }
       
    }
}

.main-content-pages-garden{
    @extend .main-content-pages-themes;
    background: rgb(108, 216, 162);

}

.main-content-pages-food{
    @extend .main-content-pages-themes;
    background: rgb(255,205,102);

}

.main-content-pages-health{
    @extend .main-content-pages-themes;
    background: rgb(255, 127, 102);

}

.main-content-pages-energy{
    @extend .main-content-pages-themes;
    background: rgb(102,152,255);

}