.navbar {
  // position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // top: 0;
  height: 10rem;
  width: 100%;
  background-color: rgba(255, 255, 255, .8);

  img {
    width: 15vw;
    height: 10vw;
    max-width: 14rem;
    max-height: 8rem;
    margin-left: 5rem;
  }

  ul {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    text-decoration: none;
    width: 60%;
    height: 100%;

    li {
      position: relative;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: rgba(0, 0, 0, .1);
      }

      .border {
        position: absolute;
        bottom: 0;
        background-color: red;
        height: 0.5rem;
      }

      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1d1d1d;
        text-decoration: none;
      }
    }

    .navbar__ul__li-health {

      &::before {

        content: '';
        width: 0;
        height: 3px;
        bottom: 0;
        left: 0;
        background: #f45b69;
        position: absolute;
        transition: all 400ms;
        -webkit-transition: all 400ms;
      }

      &:hover::before {
        width: 100%;
      }

    }

    .navbar__ul__li-energy {

      &::before {

        content: '';
        width: 0;
        height: 3px;
        bottom: 0;
        left: 0;
        background: #4062bb;
        position: absolute;
        transition: all 400ms;
        -webkit-transition: all 400ms;
      }

      &:hover::before {
        width: 100%;
      }

    }

    .navbar__ul__li-garden {

      &::before {

        content: '';
        width: 0;
        height: 3px;
        bottom: 0;
        left: 0;
        background: #43aa8b;
        position: absolute;
        transition: all 400ms;
        -webkit-transition: all 400ms;
      }

      &:hover::before {
        width: 100%;
      }

    }

    .navbar__ul__li-food {
      color: blue;

      &::before {
        content: '';
        width: 0;
        height: 3px;
        bottom: 0;
        left: 0;
        background: #ffd954;
        position: absolute;
        transition: all 400ms;
        -webkit-transition: all 400ms;
      }

      &:hover::before {
        width: 100%;
      }

    }
  }
}
